{% extends "base.html" %}
{% block title %}HỆ THỐNG QUẢN LÝ DỰ TRÙ THUỐC{% endblock title %}
{% block content %}
{% load static %}

<div class="container mt-5" >
    <center><img src="{% static 'logo.jpg' %}" class="responsive-img" style="max-height: 250px;margin-bottom: 30px;" alt="thumnail"></center>
    <h1 style="font-size: 65px;color: #0ead1b" class="text-center">HỆ THỐNG QUẢN LÝ DỰ TRÙ THUỐC</h1>
    <h2 style="font-size: 35px;color: #0ead1a" class="text-center">KHU ĐIỀU TRỊ PHONG</h2>
</div>
{% endblock content %}