<!-- kho.html -->
{% extends "base.html" %}
{% block title %}Phiếu nhập kho{% endblock title %}
{% load humanize %}
{% block content %}

<div class="container mt-5">
    <h2 class="text-center">Danh sách phiếu nhập</h2>
    <!--Form lọc phiếu nhập-->
    <form method="GET" action="" class="row g-3 mb-3">
        <div class="col-md-3">
            <select class="form-control" id="thang" name="thang">
                <option value="">--- Chọn Tháng ---</option>
                {% for month in months %}
                    <option value="{{ month }}" {% if month == request.GET.thang|default_if_none:"" %}selected{% endif %}>Tháng {{ month }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-3">
            <select class="form-control" id="nam" name="nam">
                <option value="">--- Chọn Năm ---</option>
                {% for year in years %}
                    <option value="{{ year }}" {% if year == request.GET.nam|default_if_none:"" %}selected{% endif %}>{{ year }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-4">
            <select class="form-control" id="filter_so_phieu_nhap" name="filter_so_phieu_nhap">
                <option value="">--- Chọn Phiếu Nhập ---</option>
                {% for phieu in items_phieu_nhap %}
                    <option value="{{ phieu.so_phieu_nhap }}">{{ phieu.so_phieu_nhap }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-12 text-center">
            <button type="submit" class="btn btn-primary">Tìm kiếm</button>
        </div>
    </form>

    <!-- Nút thêm mới -->
    <div class="mb-4 text-end">
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#nhapKhoModal">
            Thêm mới
        </button>
    </div>

    <!--Thông báo!-->
    {% if messages %}
    <div class = "alert alert-success" id="message-alert">
        <ul class = "mb-0">
            {% for item in messages  %}
                <li>{{item}}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <script>
    // Chờ cho đến khi DOM được tải hoàn toàn
    document.addEventListener("DOMContentLoaded", function() {
        // Tìm phần tử thông báo
        var alert = document.getElementById("message-alert");
        // Nếu tồn tại thông báo, thiết lập timeout để ẩn thông báo sau 3 giây
        if (alert) {
            setTimeout(function() {
                alert.style.transition = "opacity 0.5s ease";
                alert.style.opacity = "0";
                setTimeout(function() {
                    alert.style.display = "none";
                }, 500); // 500 milliseconds = 0.5 seconds
            }, 3000); // 3000 milliseconds = 3 seconds
        }
    });
    </script>
    {% if items_ct_phieu_nhap %}
    <table class="table table-bordered">
        <thead>
            <tr style='vertical-align: middle' align='center'>
                <th>STT</th>
                <th>Ngày nhập</th>
                <th>Số phiếu nhập</th>
                <th>Tên thuốc</th>
                <th>Đơn vị tính</th>
                <th>Đơn giá</th>
                <th>Nhập</th>
                <th>Hành động</th>
                
            </tr>
        </thead>
        <tbody>
            {% for ct_phieu_nhap in items_ct_phieu_nhap %}
                <tr style='vertical-align: middle'>
                    <td align='center'>{{forloop.counter}}</td>
                    <td align='center'>{{ ct_phieu_nhap.phieu_nhap.ngay_nhap|date:"d/m/Y" }}</td>
                    <td>{{ ct_phieu_nhap.phieu_nhap.so_phieu_nhap }}</td>
                    <td>{{ ct_phieu_nhap.thuoc.ten_thuoc }}</td>
                    <td align='center'>{{ct_phieu_nhap.thuoc.dvt}}</td>
                    <td align='center'>{{ ct_phieu_nhap.thuoc.don_gia|floatformat:0|intcomma }}</td>
                    <td align='center'>{{ct_phieu_nhap.so_luong_nhap}}</td>
                    <td align='center'>
                        <button type="button" class="btn btn-info btn-md" data-bs-toggle="modal" data-bs-target="#suaCtPhieuNhapModal{{ ct_phieu_nhap.id }}">Sửa</button>
                        <a href="{% url "xoa_ct_phieu_nhap" ct_phieu_nhap.id %}" class="btn btn-danger btn-md" onclick="return confirm('Bạn có chắc muốn xoá thuốc này khỏi phiếu nhập không?')">Xoá</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="9" class="text-center">Không có phiếu nhập nào trong tháng.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>Không tìm thấy chi tiết phiếu nhập.</p>
    {% endif %}

<!-- Modal sửa -->
{% for ct_phieu_nhap in items_ct_phieu_nhap %}
<div class="modal fade" id="suaCtPhieuNhapModal{{ct_phieu_nhap.id}}" tabindex="-1" aria-labelledby="suaCtPhieuNhapLabel{{ct_phieu_nhap.id}}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="suaCtPhieuNhapModal{{ct_phieu_nhap.id}}">Phiếu nhập kho</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'sua_ct_phieu_nhap' ct_phieu_nhap.id %}">
                    {% csrf_token %}
                    <div class="form-group mb-3">
                        <label for="so_phieu_nhap">Số phiếu nhập</label>
                        <input type="text" class="form-control" id="so_phieu_nhap" name="so_phieu_nhap" value="{{ct_phieu_nhap.phieu_nhap.so_phieu_nhap}}" readonly>
                    </div>
                    <div class="form-group mb-3">
                        <label for="ngay_nhap">Ngày nhập</label>
                        <input readonly type="date" class="form-control" id="ngay_nhap" name="ngay_nhap" value="{{ct_phieu_nhap.phieu_nhap.ngay_nhap|date:"Y-m-d"}}" required>
                    </div>
                    <div id="drug-input-container">
                        <div class="drug-input-group mb-3">
                            <div class="form-group mb-3">
                                <label for="ten_thuoc">Tên thuốc <span class="drug-number">1</span></label>
                                <select class="form-control" id="ten_thuoc" name="ten_thuoc">
                                    <option value="">--- Chọn thuốc ---</option>
                                    {% for thuoc in items_danh_muc %}
                                        <option value="{{ thuoc.id }}" {% if ct_phieu_nhap.thuoc.id == thuoc.id %}selected{% endif %}>{{ thuoc.ten_thuoc }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group mb-3">
                                <label for="so_luong_nhap">Số lượng nhập</label>
                                <input type="number" class="form-control" id="so_luong_nhap" name="so_luong_nhap" value="{{ct_phieu_nhap.so_luong_nhap}}" required>
                            </div>
                            <button type="button" class="btn btn-danger remove-drug" style="display: none;">Xoá</button>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-success" id="add-drug">
                            <i class="fas fa-plus"></i> Thêm thuốc
                        </button>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block mt-3">Lưu</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<!-- Modal thêm -->
<div class="modal fade" id="nhapKhoModal" tabindex="-1" aria-labelledby="nhapKhoLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="nhapKhoModalLabel">Phiếu nhập kho</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'nhap_thuoc' %}" id="nhapThuocForm">
                    {% csrf_token %}
                    <div class="form-group mb-3">
                        <label for="so_phieu_nhap">Số phiếu nhập</label>
                        <input type="text" class="form-control" id="so_phieu_nhap" name="so_phieu_nhap" readonly>
                    </div>
                    <div class="form-group mb-3">
                        <label for="ngay_nhap">Ngày nhập</label>
                        <input type="date" class="form-control" id="ngay_nhap" name="ngay_nhap" required>
                    </div>
                    <div id="drug-input-container">
                        <div class="drug-input-group mb-3">
                            <div class="form-group mb-3">
                                <label for="ten_thuoc">Tên thuốc <span class="drug-number">1</span></label>
                                <select class="form-control" id="ten_thuoc" name="ten_thuoc">
                                    <option value="">--- Chọn thuốc ---</option>
                                    {% for thuoc in items_danh_muc %}
                                        <option value="{{ thuoc.id }}">{{ thuoc.ten_thuoc }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group mb-3">
                                <label for="so_luong_nhap">Số lượng nhập</label>
                                <input type="number" class="form-control" id="so_luong_nhap" name="so_luong_nhap" required>
                            </div>
                            <button type="button" class="btn btn-danger remove-drug" style="display: none;">Xoá</button>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-success" id="add-drug">
                            <i class="fas fa-plus"></i> Thêm thuốc
                        </button>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block mt-3">Thêm</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js" integrity="sha512-acxbqxe6Dd+yoU7gl5irw9t6iYXJ0En2SkelPsB9RsTPq2nDPkDaMld5zBLBRYcOSM43gi9oxPfbA9eF5KqC4g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
    $(document).ready(function() {
        var drugCount = 1;

        // Function to update remove button visibility
        function updateRemoveButtons() {
            if (drugCount > 1) {
                $('.remove-drug').show();
            } else {
                $('.remove-drug').hide();
            }
        }

        $('#add-drug').on('click', function() {
            drugCount++;
            var newDrugInputGroup = $('.drug-input-group:first').clone();
            newDrugInputGroup.find('input').val('');
            newDrugInputGroup.find('select').val('');
            newDrugInputGroup.find('.drug-number').text(drugCount);
            $('#drug-input-container').append(newDrugInputGroup);
            updateRemoveButtons();
        });

        $('#drug-input-container').on('click', '.remove-drug', function() {
            if (drugCount > 1) {
                $(this).closest('.drug-input-group').remove();
                drugCount--;
                $('#drug-input-container .drug-input-group').each(function(index) {
                    $(this).find('.drug-number').text(index + 1);
                });
                updateRemoveButtons();
            }
        });

        $('#ngay_nhap').on('change', function() {
            generateSoPhieuNhap();
        });

        $('#nhapThuocForm').on('submit', function(event) {
            if (!$('#ngay_nhap').val()) {
                alert('Vui lòng chọn ngày nhập');
                return false;
            }
            // Lưu số phiếu nhập mới vào sessionStorage
            sessionStorage.setItem('so_phieu_nhap', $('#so_phieu_nhap').val());
        });

        $('#thang, #nam').on('change', function() {
            var thang = $('#thang').val();
            var nam = $('#nam').val();
            if (thang && nam) {
                $.ajax({
                    url: "{% url 'danh_sach_phieu_nhap' %}",
                    data: {
                        'thang': thang,
                        'nam': nam
                    },
                    dataType: 'json',
                    success: function(data) {
                        var phieuNhapSelect = $('#phieu_nhap');
                        phieuNhapSelect.empty();
                        phieuNhapSelect.append('<option value="">--- Chọn Phiếu Nhập ---</option>');
                        $.each(data.phieu_list, function(index, phieu) {
                            phieuNhapSelect.append('<option value="' + phieu.id + '">' + phieu.so_phieu_nhap + '</option>');
                        });
                    }
                });
            }
        });

        function generateSoPhieuNhap() {
            var ngayNhap = $('#ngay_nhap').val();
            if (!ngayNhap) {
                $('#so_phieu_nhap').val('');
                return;
            }

            // Trích xuất ngày, tháng, năm
            var dateParts = ngayNhap.split('-');
            var year = dateParts[0].slice(-2); // lấy hai chữ số cuối của năm
            var month = dateParts[1];
            var day = dateParts[2];

            // Kiểm tra số phiếu nhập hiện có và tạo tăng dần
            var existingSoPhieuNhap = sessionStorage.getItem('so_phieu_nhap') || '';
            var increment = 1;

            if (existingSoPhieuNhap.startsWith(`PN${day}${month}${year}`)) {
                increment = parseInt(existingSoPhieuNhap.slice(-3)) + 1;
            }

            var soPhieuNhap = `PN${day}${month}${year}${String(increment).padStart(3, '0')}`;

            // Đặt giá trị vào trường input
            $('#so_phieu_nhap').val(soPhieuNhap);
        }

        updateRemoveButtons();
    });
</script>

</div>
{% endblock %}
