<!-- phieu_nhap_kho.html -->
{% extends "base.html" %}
{% block title %}Phiếu nhập kho{% endblock title %}
{% load humanize %}
{% block content %}

<div class="container mt-5">
    <h2 class="text-center">Danh sách phiếu nhập</h2>
    <!--Form lọc phiếu nhập-->
    <form method="GET" action="" class="row g-3 mb-3 justify-content-center">
        <div class="col-md-3">
            <select class="form-control" id="thang" name="thang">
                <option value="">--- Chọn Tháng ---</option>
                {% for month in months %}
                    <option value="{{ month }}" {% if month == request.GET.thang|default_if_none:"" %}selected{% endif %}>Tháng {{ month }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-3">
            <select class="form-control" id="nam" name="nam">
                <option value="">--- Chọn Năm ---</option>
                {% for year in years %}
                    <option value="{{ year }}" {% if year == request.GET.nam|default_if_none:"" %}selected{% endif %}>{{ year }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-12 text-center">
            <button type="submit" class="btn btn-primary">Tìm kiếm</button>
        </div>
    </form>

    <!-- Nút thêm mới -->
    <div class="mb-4 text-end">
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#themPhieuNhapModal">
            Thêm mới
        </button>
    </div>

    <!--Thông báo!-->
    {% if messages %}
    <div class = "alert alert-success" id="message-alert">
        <ul class = "mb-0">
            {% for item in messages  %}
                <li>{{item}}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <script>
    // Chờ cho đến khi DOM được tải hoàn toàn
    document.addEventListener("DOMContentLoaded", function() {
        // Tìm phần tử thông báo
        var alert = document.getElementById("message-alert");
        // Nếu tồn tại thông báo, thiết lập timeout để ẩn thông báo sau 3 giây
        if (alert) {
            setTimeout(function() {
                alert.style.transition = "opacity 0.5s ease";
                alert.style.opacity = "0";
                setTimeout(function() {
                    alert.style.display = "none";
                }, 500); // 500 milliseconds = 0.5 seconds
            }, 3000); // 3000 milliseconds = 3 seconds
        }
    });
    </script>
    {% if items_phieu_nhap %}
    <table class="table table-bordered">
        <thead>
            <tr style='vertical-align: middle' align='center'>
                <th>STT</th>
                <th>Ngày nhập</th>
                <th>Số phiếu nhập</th>
                <th>Hành động</th> 
            </tr>
        </thead>
        <tbody>
            {% for phieu_nhap in items_phieu_nhap %}
                <tr style='vertical-align: middle'>
                    <td align='center'>{{forloop.counter}}</td>
                    <td align='center'>{{ phieu_nhap.ngay_nhap|date:"d/m/Y" }}</td>
                    <td align='center'>{{ phieu_nhap.so_phieu_nhap }}</td>
                    <td align='center'>
                        <button type="button" class="btn btn-primary btn-md" data-bs-toggle="modal" data-bs-target="#xemPhieuNhapModal{{ phieu_nhap.id }}">Xem</button>
                        <button type="button" class="btn btn-secondary btn-md" data-bs-toggle="modal" data-bs-target="#suaPhieuNhapModal{{ phieu_nhap.id }}">Sửa</button>
                        <a href="{% url "xoa_phieu_nhap" phieu_nhap.id %}" class="btn btn-danger btn-md" onclick="return confirm('Bạn có chắc muốn xoá phiếu nhập {{phieu_nhap.so_phieu_nhap}} không?')">Xoá</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="9" class="text-center">Không có phiếu nhập nào trong tháng.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>Không có phiếu nhập nào trong tháng.</p>
    {% endif %}

<!-- Gọi modal xem phiếu nhâp -->
{% include "xem_phieu_nhap.html" %}

<!-- Gọi modal nhập thuốc -->
{% include "them_phieu_nhap.html" %}

<!-- Gọi modal sửa phiếu nhập -->
{% include "sua_phieu_nhap.html" %}

</div>
{% endblock %}
